body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #aac9e8e8;
    height: 100%;
    width: 100%;
}
h1 {
    font-size: 60px;
    font-family:  Calibri, monospace;
    font-style:italic;
    margin: 100px;
    color: #fccdde;
}